

.App {
  text-align: center;
  display: flex;
  background-color: #343541;
  color: white;
  position: absolute;
  top:0; left: 0; bottom: 0; right: 0; 

  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 24px;
}

/*############################################## Sidemenu ##############################################*/
.sidemenu {
  width: 240px;
  padding: 10px;
  background-color: #202123;
}

/*---------------------------------------------- Sidemenu - new Chat ----------------------------------------------*/
.new-chat {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.2s all;
}

.new-chat:hover {
  background-color: #282c34;
  cursor: pointer;
}

.new-chat span {
  padding-left: 10px;
  padding-right: 12px;
}
/*---------------------------------------------- Sidemenu - models ----------------------------------------------*/
.models {
  margin-top: 50px;
}

.models-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.models select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.models select:focus {
  outline: none;
  border-color: #4d90fe;
}

/*---------------------------------------------- Sidemenu - tokens ----------------------------------------------*/

.tokens-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30%;
}

/*---------------------------------------------- Sidemenu - temperature ----------------------------------------------*/

.temperature-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40%;
}

/*---------------------------------------------- Sidemenu - top-p ----------------------------------------------*/

.top-p-title {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40%;
}

/*############################################## Chat ##############################################*/

.chat {
  flex: 1;
  background-color: #343541;
  position: relative;
  overflow-y: auto;
  margin-left: 16.5%;
  margin-right: 16.5%;
  margin-bottom: 5%;
}

.chat-output {
  text-align: left;
}

.chat-output-container-user,
.chat-output-container-bot {
  display: flex;
  align-items: center;
}

.chat-output-container-user {
    justify-content: flex-end;
}

.chat-output-container-bot {
    justify-content: flex-start;
}

.message {
    margin: 10px 0;
    padding: 20px;
    max-width: 60%;
    background-color: #0da37f;
    color: white;
    border-radius: 5px;
    word-break: break-word;  /* allows the word to break and go to the next line */
}

.message.user {
  background-color: #0da37f; /* Example background color for user messages */
  color: white; /* Example text color for user messages */
  order: 1; /* Makes sure user message is positioned first (to the left) within its flex container */
}

.message.bot {
  background-color: #444654; /* Example background color for bot messages */
  color: white; /* Example text color for bot messages */
  order: 2; /* Makes sure bot message is positioned last (to the right) within its flex container */
}

.avatar {
background: #0da37f;
border-radius: 30%;
width: 40px;
height: 40px;
display: inline-flex;
align-items: center;
justify-content: center;
margin: 0 10px;
order: 2; /* position Bot Avatar to the right */
}

.avatar.user{
order: 3; /* position User Avatar to the right */
}

.logo {
background-size: contain;
border-radius: 30%;
width: 30px;
height: 30px;
}


/*---------------------------------------------- Chat - chat-input ----------------------------------------------*/

.chat-input {
  padding:24px;
  position:fixed;
  bottom: 0; left: 252px; right: 0; 
}

.type-message {
  background-color: #40414f;
  width:60%;
  padding:12px;
  border-radius:5px;
  color: white;
  font-size:1.25em;
  border:none;
  outline:none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
